/* =========================
   RESET
========================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
    background: #080b12;
    color: #f5f7fa;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    font-family: inherit;
}


/* =========================
   VARIABLES
========================= */

:root {
    --bg: #080b12;
    --bg-light: #0d111a;
    --card: #10151f;
    --card-hover: #151b27;

    --text: #f5f7fa;
    --text-muted: #9299a8;

    --accent: #7c6cff;
    --accent-light: #a79cff;

    --border: rgba(255, 255, 255, 0.08);

    --container: 1180px;
}


/* =========================
   COMMON
========================= */

.section {
    padding: 120px 20px;
}

.section-container {
    max-width: var(--container);
    margin: auto;
}

.section-heading {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    margin-bottom: 65px;
}

.section-heading > span {
    color: var(--accent);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
}

.section-heading p {
    color: var(--text-muted);
    font-size: 14px;
    margin-bottom: 8px;
}

.section-heading h2 {
    font-size: clamp(32px, 4vw, 48px);
    line-height: 1.1;
}


/* =========================
   NAVBAR
========================= */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    background: rgba(8, 11, 18, 0.78);
    backdrop-filter: blur(18px);

    border-bottom: 1px solid transparent;

    transition: 0.3s;
}

.navbar.scrolled {
    border-color: var(--border);
}

.nav-container {
    max-width: var(--container);
    height: 78px;

    margin: auto;
    padding: 0 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 27px;
    font-weight: 800;
}

.logo span,
.footer-logo span {
    color: var(--accent);
}

.nav-links {
    display: flex;
    gap: 34px;
}

.nav-links a {
    color: var(--text-muted);
    font-size: 14px;
    transition: 0.25s;
}

.nav-links a:hover,
.nav-links a.active {
    color: var(--text);
}

.nav-button {
    border: 1px solid var(--border);

    padding: 10px 18px;
    border-radius: 8px;

    font-size: 13px;
    font-weight: 600;

    transition: 0.25s;
}

.nav-button:hover {
    border-color: var(--accent);
    color: var(--accent-light);
}

.menu-btn {
    display: none;

    border: none;
    background: none;

    color: white;
    font-size: 21px;

    cursor: pointer;
}


/* =========================
   HERO
========================= */

.hero {
    min-height: 100vh;

    display: flex;
    align-items: center;

    padding: 120px 20px 70px;

    position: relative;
    overflow: hidden;
}

.hero::before {
    content: "";

    position: absolute;

    width: 550px;
    height: 550px;

    background: var(--accent);

    filter: blur(180px);
    opacity: 0.10;

    top: -200px;
    right: -100px;

    border-radius: 50%;
}

.hero-container {
    width: 100%;
    max-width: var(--container);

    margin: auto;

    display: grid;
    grid-template-columns: 1.1fr 0.9fr;

    align-items: center;

    gap: 60px;
}

.hero-intro {
    color: var(--accent-light);
    font-weight: 600;
    font-size: 15px;

    margin-bottom: 12px;
}

.hero h1 {
    font-size: clamp(58px, 8vw, 100px);
    line-height: 0.95;

    letter-spacing: -5px;

    margin-bottom: 25px;
}

.hero h1 span {
    color: var(--accent);
}

.hero h2 {
    font-size: clamp(21px, 3vw, 32px);
    font-weight: 600;

    color: #dfe2ea;

    margin-bottom: 22px;
}

.hero-description {
    max-width: 600px;

    color: var(--text-muted);

    font-size: 16px;

    line-height: 1.8;

    margin-bottom: 34px;
}

.hero-buttons {
    display: flex;
    gap: 14px;

    margin-bottom: 35px;
}

.primary-btn,
.secondary-btn {
    display: inline-flex;

    align-items: center;
    gap: 10px;

    padding: 13px 21px;

    border-radius: 8px;

    font-size: 14px;
    font-weight: 600;

    transition: 0.25s;
}

.primary-btn {
    background: var(--accent);
}

.primary-btn:hover {
    transform: translateY(-2px);
    background: var(--accent-light);
    color: #080b12;
}

.secondary-btn {
    border: 1px solid var(--border);
}

.secondary-btn:hover {
    border-color: var(--accent);
}

.social-links {
    display: flex;
    gap: 12px;
}

.social-links a {
    width: 40px;
    height: 40px;

    display: grid;
    place-items: center;

    border: 1px solid var(--border);
    border-radius: 8px;

    color: var(--text-muted);

    transition: 0.25s;
}

.social-links a:hover {
    color: white;
    border-color: var(--accent);
    transform: translateY(-3px);
}


/* =========================
   HERO VISUAL
========================= */

.hero-visual {
    display: flex;
    justify-content: center;
}

.profile-wrapper {
    position: relative;

    width: 400px;
    height: 400px;
}

.profile-circle {
    width: 320px;
    height: 320px;

    position: absolute;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    border-radius: 50%;

    background:
        linear-gradient(145deg, #181e2a, #0d1118);

    border: 1px solid var(--border);

    display: grid;
    place-items: center;

    box-shadow:
        0 0 80px rgba(124, 108, 255, 0.12);
}

.profile-image {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
}

.profile-image {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
}

.floating-card {
    position: absolute;

    background: rgba(16, 21, 31, 0.9);

    border: 1px solid var(--border);

    backdrop-filter: blur(12px);

    padding: 11px 16px;

    border-radius: 9px;

    display: flex;
    align-items: center;
    gap: 9px;

    font-size: 13px;
    font-weight: 600;

    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3);
}

.floating-card i {
    color: var(--accent-light);
}

.card-python {
    top: 30px;
    left: 0;
}

.card-sql {
    right: 0;
    top: 120px;
}

.card-ai {
    bottom: 40px;
    left: 40px;
}

.scroll-indicator {
    position: absolute;

    bottom: 30px;
    left: 50%;

    transform: translateX(-50%);

    color: #6f7582;

    font-size: 11px;

    display: flex;
    align-items: center;
    gap: 10px;
}

.scroll-indicator span {
    width: 25px;
    height: 1px;
    background: #6f7582;
}


/* =========================
   ABOUT
========================= */

.about {
    background: var(--bg-light);
}

.about-grid {
    display: grid;

    grid-template-columns: 1.2fr 0.8fr;

    gap: 90px;

    align-items: center;
}

.about-text h3 {
    font-size: clamp(28px, 4vw, 45px);

    line-height: 1.2;

    margin-bottom: 30px;
}

.about-text h3 span {
    color: var(--accent-light);
}

.about-text p {
    color: var(--text-muted);

    font-size: 15px;

    line-height: 1.9;

    margin-bottom: 17px;
}

.about-stats {
    display: grid;

    grid-template-columns: repeat(2, 1fr);

    gap: 14px;
}

.stat-card {
    padding: 28px 22px;

    border: 1px solid var(--border);

    background: var(--card);

    border-radius: 10px;
}

.stat-card strong {
    display: block;

    color: var(--accent-light);

    font-size: 30px;

    margin-bottom: 5px;
}

.stat-card span {
    color: var(--text-muted);

    font-size: 12px;
}


/* =========================
   SKILLS
========================= */

.skills-grid {
    display: grid;

    grid-template-columns: repeat(5, 1fr);

    gap: 15px;
}

.skill-card {
    padding: 30px 20px;

    background: var(--card);

    border: 1px solid var(--border);

    border-radius: 10px;

    transition: 0.3s;
}

.skill-card:hover {
    transform: translateY(-6px);
    background: var(--card-hover);
    border-color: rgba(124, 108, 255, 0.35);
}

.skill-icon {
    width: 45px;
    height: 45px;

    display: grid;
    place-items: center;

    background: rgba(124, 108, 255, 0.1);

    border-radius: 8px;

    color: var(--accent-light);

    font-size: 20px;

    margin-bottom: 22px;
}

.skill-card h3 {
    font-size: 15px;
    margin-bottom: 8px;
}

.skill-card p {
    color: var(--text-muted);
    font-size: 12px;
}


/* =========================
   PROJECTS
========================= */

.projects-section {
    background: var(--bg-light);
}

.projects-container {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.project-card {
    position: relative;

    display: grid;
    grid-template-columns: 100px 1fr;

    padding: 45px;

    background: var(--card);

    border: 1px solid var(--border);

    border-radius: 12px;

    overflow: hidden;

    transition: 0.3s;
}

.project-card:hover {
    border-color: rgba(124, 108, 255, 0.35);
    transform: translateY(-3px);
}

.project-number {
    font-size: 12px;
    color: var(--accent);
    font-weight: 700;
}

.project-tag {
    display: inline-block;

    color: var(--accent-light);

    font-size: 11px;
    font-weight: 700;

    letter-spacing: 1px;
    text-transform: uppercase;

    margin-bottom: 12px;
}

.project-content h3 {
    font-size: clamp(24px, 3vw, 36px);

    line-height: 1.2;

    max-width: 700px;

    margin-bottom: 17px;
}

.project-content > p {
    color: var(--text-muted);

    font-size: 14px;

    line-height: 1.8;

    max-width: 800px;

    margin-bottom: 25px;
}

.project-features {
    display: flex;

    flex-wrap: wrap;

    gap: 12px 25px;

    margin-bottom: 25px;
}

.project-features span {
    color: #c0c5d0;

    font-size: 12px;
}

.project-features i {
    color: var(--accent);

    margin-right: 5px;
}

.project-tech {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.project-tech span {
    background: #171d28;

    color: #aeb4c0;

    padding: 6px 10px;

    border-radius: 5px;

    font-size: 10px;

    border: 1px solid var(--border);
}


/* =========================
   EDUCATION
========================= */

.education-section {
    background: var(--bg);
}

.timeline {
    position: relative;

    max-width: 850px;

    margin: auto;
}

.timeline::before {
    content: "";

    position: absolute;

    left: 9px;
    top: 0;
    bottom: 0;

    width: 1px;

    background: var(--border);
}

.timeline-item {
    position: relative;

    padding-left: 50px;

    margin-bottom: 65px;
}

.timeline-dot {
    position: absolute;

    left: 3px;
    top: 4px;

    width: 13px;
    height: 13px;

    background: var(--accent);

    border-radius: 50%;

    box-shadow: 0 0 0 5px rgba(124, 108, 255, 0.1);
}

.timeline-date {
    color: var(--accent-light);

    font-size: 12px;
    font-weight: 600;

    margin-bottom: 9px;
}

.timeline-content {
    padding: 25px;

    background: var(--card);

    border: 1px solid var(--border);

    border-radius: 9px;
}

.timeline-content h3 {
    font-size: 20px;
    margin-bottom: 6px;
}

.timeline-content p {
    color: var(--text-muted);
    font-size: 13px;
    margin-bottom: 13px;
}

.timeline-content strong {
    color: var(--accent-light);
}


/* =========================
   CERTIFICATIONS
========================= */

.certification-section {
    background: var(--bg-light);
}

.certification-grid {
    display: grid;

    grid-template-columns: repeat(2, 1fr);

    gap: 18px;
}

.certificate-card {
    display: flex;

    align-items: center;

    gap: 20px;

    padding: 25px;

    background: var(--card);

    border: 1px solid var(--border);

    border-radius: 10px;
}

.certificate-icon {
    width: 50px;
    height: 50px;

    flex-shrink: 0;

    display: grid;
    place-items: center;

    border-radius: 8px;

    color: var(--accent-light);

    background: rgba(124, 108, 255, 0.1);
}

.certificate-card h3 {
    font-size: 15px;
    margin-bottom: 5px;
}

.certificate-card p {
    color: var(--text-muted);
    font-size: 12px;
}


/* =========================
   STRENGTHS
========================= */

.strengths-grid {
    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 100px;

    align-items: center;
}

.small-title {
    color: var(--accent-light);

    font-size: 12px;

    font-weight: 600;

    text-transform: uppercase;

    letter-spacing: 1.5px;

    margin-bottom: 14px;
}

.strengths-grid h2 {
    font-size: clamp(30px, 4vw, 48px);

    line-height: 1.15;
}

.strengths-grid h2 span {
    color: var(--accent-light);
}

.strength-list {
    display: grid;

    grid-template-columns: repeat(2, 1fr);

    gap: 12px;
}

.strength-list div {
    padding: 18px;

    background: var(--card);

    border: 1px solid var(--border);

    border-radius: 8px;

    display: flex;
    align-items: center;

    gap: 12px;

    font-size: 13px;
}

.strength-list i {
    color: var(--accent-light);
}


/* =========================
   CONTACT
========================= */

.contact-section {
    padding: 140px 20px;

    background:
        radial-gradient(
            circle at center,
            rgba(124, 108, 255, 0.13),
            transparent 45%
        );
}

.contact-container {
    max-width: 850px;

    margin: auto;

    text-align: center;
}

.contact-container h2 {
    font-size: clamp(38px, 7vw, 72px);

    line-height: 1.05;

    margin-bottom: 25px;
}

.contact-container h2 span {
    color: var(--accent-light);
}

.contact-container > p:not(.small-title) {
    max-width: 600px;

    margin: auto auto 30px;

    color: var(--text-muted);

    font-size: 14px;
}

.contact-button {
    display: inline-flex;

    align-items: center;
    gap: 10px;

    background: var(--accent);

    padding: 14px 23px;

    border-radius: 8px;

    font-size: 14px;
    font-weight: 600;

    transition: 0.25s;
}

.contact-button:hover {
    transform: translateY(-3px);

    background: var(--accent-light);

    color: #080b12;
}

.contact-details {
    margin-top: 50px;

    display: flex;

    justify-content: center;

    flex-wrap: wrap;

    gap: 25px;
}

.contact-details a {
    color: var(--text-muted);

    font-size: 12px;

    display: flex;
    align-items: center;

    gap: 8px;
}

.contact-details i {
    color: var(--accent-light);
}


/* =========================
   FOOTER
========================= */

footer {
    border-top: 1px solid var(--border);

    padding: 25px 20px;
}

.footer-container {
    max-width: var(--container);

    margin: auto;

    display: flex;

    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    font-size: 20px;
    font-weight: 800;
}

.footer-container p {
    color: #686f7c;
    font-size: 11px;
}

.footer-social {
    display: flex;
    gap: 15px;
}

.footer-social a {
    color: #686f7c;

    transition: 0.2s;
}

.footer-social a:hover {
    color: var(--accent-light);
}


/* =========================
   SCROLL ANIMATION
========================= */

.reveal {
    opacity: 0;

    transform: translateY(35px);

    transition:
        opacity 0.7s ease,
        transform 0.7s ease;
}

.reveal.show {
    opacity: 1;

    transform: translateY(0);
}


/* =========================
   RESPONSIVE
========================= */

@media (max-width: 1000px) {

    .nav-links {
        gap: 18px;
    }

    .skills-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .hero-container {
        grid-template-columns: 1fr;
    }

    .hero-visual {
        display: none;
    }

    .about-grid {
        grid-template-columns: 1fr;
        gap: 50px;
    }

}


@media (max-width: 760px) {

    .section {
        padding: 85px 20px;
    }

    .nav-button {
        display: none;
    }

    .menu-btn {
        display: block;
    }

    .nav-links {
        position: absolute;

        top: 78px;
        left: 20px;
        right: 20px;

        padding: 20px;

        background: #10151f;

        border: 1px solid var(--border);

        border-radius: 10px;

        display: none;

        flex-direction: column;

        gap: 18px;
    }

    .nav-links.open {
        display: flex;
    }

    .hero {
        padding-top: 130px;
    }

    .hero h1 {
        letter-spacing: -3px;
    }

    .skills-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .project-card {
        grid-template-columns: 1fr;
        gap: 20px;

        padding: 28px;
    }

    .certification-grid {
        grid-template-columns: 1fr;
    }

    .strengths-grid {
        grid-template-columns: 1fr;
        gap: 40px;
    }

}


@media (max-width: 480px) {

    .hero h1 {
        font-size: 55px;
    }

    .hero-buttons {
        flex-direction: column;
    }

    .primary-btn,
    .secondary-btn {
        justify-content: center;
    }

    .skills-grid {
        grid-template-columns: 1fr;
    }

    .about-stats {
        grid-template-columns: 1fr 1fr;
    }

    .strength-list {
        grid-template-columns: 1fr;
    }

    .contact-details {
        flex-direction: column;
        align-items: center;
    }

    .footer-container {
        flex-direction: column;
        gap: 15px;
    }

    

}